
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    width: 100%;
    height: 140vh;
    background-color:moccasin;
    padding: 0 5%;
    border: 2px solid red;
}

nav {
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    margin-bottom: 10%;
}

nav #logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.navLink {
    color: black;
    font-size: calc(20px + 1vw);
}

a {
    text-decoration: none;
}

/* #backgroundVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
} */

#container {
    border: 2px solid green;
    text-align: center;
}

#name {
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    font-size: 120px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: 2px solid blue;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#name:hover {
    -webkit-text-stroke: 2px rgb(64, 76, 101);
    color: rgb(64, 76, 101);
    font-weight: 700;
    cursor: pointer;
}

@media (min-aspect-ratio: 16/9) {
    #backgroundVideo{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #backgroundVideo{
        width: auto;
        height: 100%;
    }
}