
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color:moccasin;
    padding: 0 5%;
    padding-bottom: 2.5rem;
}

nav {
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12%;
}

nav #logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.navLink {
    color: black;
    font-size: calc(20px + 1vw);
}

.navLink:hover {
    opacity: 0.5;
}

iframe {
    margin: 0 auto;
    display: block;
    max-width: 750px;
    max-height: 600px;
}

a {
    text-decoration: none;
}

#container {
    text-align: center;
}

#name {
    -webkit-text-stroke: 1px black;
    font-size: calc(40px + 6vw);
    color: black;
    font-weight: 800;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#name:hover {
    -webkit-text-stroke: 2px rgb(64, 76, 101);
    color: rgb(64, 76, 101);
    font-weight: 700;
    cursor: pointer;
    opacity: 0.5;
}

#resume {
    text-align: center;
    font-size: calc(15px + 1vw);
    display: none;
}

#myResume:hover {
    cursor: pointer;
    opacity: 0.5;
}

h3 {
    margin-top: 10%;
    margin-bottom: 3vw;
    font-size: calc(15px + 2vw);
    text-align: center;
}

#education, #experience {
    padding: 20px;
}

h5 {
    text-align: left;
    font-size: calc(10px + 2vh);
}

#chaminade {
    display: flex;
    justify-content: space-between;
}

#yuba {
    display: flex;
    justify-content: space-between;
}

#resumeTitle {
    display: flex;
    justify-content: space-between;
}

#resumeList {
    font-size: calc(5px + 2vh);
    text-align: left;
    margin: 2% 0;
}

.educationSection {
    display: none;
}

#education:hover {
    cursor: pointer;
}

#experience:hover {
    cursor: pointer;
}

footer {
    padding:40px 0;
    color:#4b4c4d;
}
  
.footerList {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
  
.footerItem {
    display: inline;
    padding: 0 5vw;
}
  
#footerLink {
    color: black;
    text-decoration:none;
    opacity:0.8;
}
  
#footerLink:hover {
    opacity: 0.5;
}